[mysqld]
datadir=/var/lib/mysql
#datadir = /home/db
socket=/var/lib/mysql/mysql.sock
#socket = /home/db/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
innodb_file_per_table=1
query_cache_limit=8M
innodb_buffer_pool_size=2G
performance_schema=OFF
query_cache_type=1
query_cache_min_res_unit=2k
query_cache_size=80M
tmp_table_size=64M
max_heap_table_size=64M
slow-query-log=1
slow-query-log-file=/home/db/mysql-slow.log
long_query_time=1

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
